.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    min-width: 7em;
    min-height: 2.5em;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: 500;
    font-family: var(--fontFamily);
    text-decoration: none;
    color: var(--primaryColor);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
    transition: all 0.2s ease-in-out;
    z-index: 0;
    cursor: pointer;

    &:hover {
        color: var(--secondaryColor);
        border-top-color: var(--secondaryColor);
        border-right-color: var(--secondaryColor);
        box-shadow: -2px 2px 1px 1px var(--secondaryColor);
        transform: translateX(1px) translateY(-1px);
    }

    &_logo {
        width: 1.5em;
        height: 1.5em;
    }

    &_secondary {
        background-color: var(--textColor);
        color: var(--backgroundColor);
        border: 1px solid var(--backgroundColor);
        font-weight: 600;

        &:hover {
            color: var(--backgroundColor);
            border-top-color: var(--backgroundColor);
            border-right-color: var(--backgroundColor);
            //box-shadow: -2px 2px 1px 1px var(--backgroundColor);
            transform: translateX(1px) translateY(-1px);
        }
    }
}