.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.75em;
    min-width: 8.5em;
    min-height: 2.5em;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: 600;
    font-family: var(--fontFamily);
    text-decoration: none;
    border-radius: var(--borderRadius);
    color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    background-color: var(--secondaryColor);
    max-width: 12em;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 0em;
        height: 200%;
        background-color: var(--primaryColor);
        transition: all 0.45s ease-in-out;
        border: none;
        opacity: 1;
        transform: rotate(0) skew(20deg);
        z-index: -1;
    }

    &:hover:not(&_disabled) {
        border: 1px solid var(--borderColor);
        color: var(--backgroundColor);

        &::after {
            background-color: var(--primaryColor);
            width: 150%;
            opacity: 1;
        }

    }



    &_logo {
        width: 1.5em;
        height: 1.5em;
    }

    &_secondary {
        border: 1px solid var(--borderColor);
        background-color: var(--primaryColor);
        color: var(--backgroundColor);

        &::after {
            background-color: var(--secondaryColor);
        }

        &:hover:not(&_disabled) {
            color: var(--backgroundColor);

            &::after {
                background-color: var(--secondaryColor);
            }
        }
    }

    &_disabled {
        cursor: not-allowed;
        background-color: #b8b8b8;
    }
}