.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.75em;
    min-width: 7em;
    min-height: 2.5em;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: 500;
    font-family: var(--fontFamily);
    text-decoration: none;
    border-radius: var(--borderRadius);
    color: var(--primaryColor);
    border: 1px solid var(--borderColor);
    background-color: var(--buttonColor);
    transition: all 0.3s ease-in-out;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 0em;
        height: 300%;
        background-color: var(--primaryColor);
        transition: all 0.4s ease-in-out;
        border: none;
        opacity: 0;
        transform: rotate(35deg);
        z-index: -1;
    }

    &:hover {
        border: 1px solid var(--borderColor);
        color: var(--backgroundColor);

        &::after {
            background-color: var(--primaryColor);
            width: 180%;
            opacity: 1;
        }

    }



    &_logo {
        width: 1.5em;
        height: 1.5em;
    }

    &_secondary {
        border: 1px solid var(--borderColor);
        background-color: var(--primaryColor);
        color: var(--backgroundColor);

        &::after {
            background-color: var(--buttonColor);
        }


        &:hover {

            color: var(--primaryColor);


            //background-color: var(--backgroundColor);
            &::after {
                background-color: var(--buttonColor);
            }
        }
    }
}