---
import TechTypeIcon from "../TechTypeIcon.astro"
import SocialButtons from "../SocialButtons.astro"
import Section from "../Section/Section.astro"

import { getI18n } from "../../i18n/index"
const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })
---

<Section title={i18n.navigationMenu.home.text} id="home" hiddenTitle>
	<article class="home_content">
		<div class="home_picture">
			<img class="photoProfile" src="/profile-photo.webp" alt="Alejandro Garcia" />
			<div class="logosRotate">
				<div class="logotech logoJS" attr-nametech="JavaScript">
					<img class="logo_image" src="/icons/javascript-logo.svg" title="JavaScript" />
				</div>
				<div class="logotech logoReact" attr-nametech="React JS">
					<img class="logo_image" src="/icons/react-logo.svg" title="React JS" />
				</div>
				<div class="logotech logoTS" attr-nametech="TypeScript">
					<img class="logo_image" src="/icons/typescript-logo.svg" title="TypeScript" />
				</div>
				<div class="logotech logoNext" attr-nametech="Next JS">
					<img class="logo_image" src="/icons/next-logo.svg" title="Next JS" />
				</div>
				<div class="logotech logoCS" attr-nametech="C Sharp">
					<img class="logo_image" src="/icons/csharp-logo.svg" title="C Sharp" />
				</div>
				<div class="logotech logoNET" attr-nametech=".NET">
					<img class="logo_image" src="/icons/netcore-logo.svg" title=".Net" />
				</div>
			</div>
		</div>
		<h1>Alejandro Garcia</h1>
		<h2>{i18n.homeSection.position}</h2>
		<div class="techs">
			<TechTypeIcon type="web" />
			<TechTypeIcon type="mobile" />
			<TechTypeIcon type="desktop" />
		</div>
		<SocialButtons hasButtonCV />
	</article>
</Section>
<style>
	.home_content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 1rem;
		box-sizing: border-box;
		background-color: transparent;
		pointer-events: all;
		backdrop-filter: blur(1px);

		@media (width < 698px) {
			padding: 0.5em;
		}
	}

	.home_content h1 {
		font-size: 3rem;
		padding: 0;
		height: max-content;
		margin: 0;
		color: var(--primaryColor);

		@media (width < 500px) {
			font-size: 1.9rem;
		}
	}

	.home_content h2 {
		padding: 0;
		margin: 0;
		font-size: 2rem;
		color: var(--secondaryColor);

		@media (width < 500px) {
			font-size: 1.4rem;
		}
	}

	.home_content p {
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	.home_picture {
		position: relative;
		width: 200px;
		height: 200px;
		margin: 1rem 0 2em 0;
		padding: 0.25em;
		border: 3px solid var(--secondaryColor);
		background-color: var(--backgroundColor);
		border-radius: 15em;

		@media (width < 500px) {
			width: 160px;
			height: 160px;
		}

		&::after {
			position: absolute;
			left: -5%;
			top: -5%;
			content: "";
			width: 110%;
			height: 110%;
			border-radius: 15em;
			background-color: #d2cdcd25;
			z-index: -1;
		}
	}

	.photoProfile {
		width: 100%;
		height: 100%;
		border-radius: 15em;
		/*filter: sepia(1) blur(10px);*/
	}

	.techs {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1em;
		margin: 0 0 3em 0;

		@media (width < 500px) {
			margin: 0 0 2em 0;
		}
	}

	.logosRotate {
		position: absolute;
		left: calc(50% - 130px);
		top: calc(50% - 130px);
		border-radius: 20em;
		width: 260px;
		height: 260px;
		border: 1px solid #68646820;
		background-color: #ebe1e901;
		animation: rotateLogos 12s linear infinite;
		z-index: 0;

		@media (width < 500px) {
			width: 190px;
			height: 190px;
			left: calc(50% - 95px);
			top: calc(50% - 95px);
		}
	}

	@keyframes rotateLogos {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.logotech {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 1.35em;
		height: 1.35em;
		border-radius: 20em;
		transform: scale(1);
		animation: rotateLogo 12s linear infinite;
		box-shadow: -10px -10px 12px 7px #faf9fa30 inset;

		&:hover {
			border: 5px;
			box-shadow: -10px -10px 12px 7px #faf9fa00 inset;

			& :first-child {
				transform: scale(4);
				opacity: 1;
			}

			&::before {
				position: absolute;
				top: -4em;
				content: attr(attr-nametech);
				border-radius: 0.2em;
				width: 5.5em;
				font-size: 0.7em;
				font-weight: 500;
				padding: 0.1em 0.3em;
				background-color: var(--primaryColor);
				color: var(--backgroundColor);
				animation: nameTech 0.5s ease-in-out both;
				z-index: 3;
			}
		}

		@media (width < 500px) {
			width: 1em;
			height: 1em;
		}
	}

	@keyframes nameTech {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes rotateLogo {
		0% {
			transform: rotate(360deg);
		}
		100% {
			transform: rotate(0);
		}
	}

	.logoJS {
		left: 1.2em;
		top: 1.2em;

		@media (width < 500px) {
			top: 0.5em;
		}
	}

	.logoReact {
		right: 1.2em;
		top: 1.2em;

		@media (width < 500px) {
			top: 0.5em;
		}
	}

	.logoTS {
		left: -0.75em;
		bottom: 45%;

		@media (width < 500px) {
			left: -0.55em;
		}
	}

	.logoNext {
		right: 1.2em;
		bottom: 1.2em;

		@media (width < 500px) {
			bottom: 0.5em;
		}
	}

	.logoCS {
		left: 1.2em;
		bottom: 1.2em;

		@media (width < 500px) {
			bottom: 0.5em;
		}
	}

	.logoNET {
		right: -0.75em;
		top: 46%;

		@media (width < 500px) {
			right: -0.6em;
		}
	}

	.logo_image {
		width: 1em;
		height: 1em;
		object-fit: cover;
		opacity: 0.5;
		transition: transform 0.3s ease-in-out;

		@media (width < 500px) {
			width: 1.15em;
			height: 1.15em;
		}
	}

	@keyframes moveLogo {
		0% {
			transform: scale(0.5);
		}
		100% {
			transform: scale(1);
		}
	}
</style>
