---
import ButtonLanguage from "./ButtonLanguage.astro"
import ThemeIcon from "./ThemeIcon.astro"
import NavigationMenu from "./NavigationMenu/NavigationMenu"

import { getI18n } from "../i18n/index"
import Logo from "./Logo.astro"
const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })
---

<header class="header">
	<!--<Logo />
	 <NavigationMenu
		props={i18n.navigationMenu}
		currentLocale={currentLocale === "es" ? "" : "en"}
		client:load
	/>-->
	<div class="header_options">
		<!-- 
		<ButtonLanguage />
		<ThemeIcon />-->
	</div>
</header>
<style>
	.header {
		position: fixed;
		top: -1em;
		right: 0.45em;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100svw;
		height: 0.35em;
		margin: 1em auto 0 auto;
		border-radius: var(--borderRadius);
		background-color: #0c0f16;
		/*border: 1px solid var(--borderColor);*/
		/*backdrop-filter: blur(30px);*/
		z-index: 5;

		& .header_options {
			position: sticky;
			display: flex;
			flex-direction: row;
			column-gap: 1em;
			position: absolute;
			right: 0;
			padding: 0 1em 0 0;
		}
	}
</style>
