---
import "@fontsource/jost"
import "@fontsource-variable/montserrat"
import { BouncingBall } from "../components/BouncingBalls/Ballon"
import Background from "../components/Background.astro"
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="og:image"
			content="https://raw.githubusercontent.com/AletzMan/ImagesStorage/7d05f78abc182dcd7aaf1ed1aafc3876cf80a250/portfolio/mainimage.jpg"
		/>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="containerBalls">
		<BouncingBall client:load />
		<slot />
		<Background />
		<!--

			<div style={{ padding: "0 0 0 0", position: "relative" }}>
				<iframe
				src="https://player.vimeo.com/video/947193051?badge=0&autopause=0&player_id=0&app_id=58479"
				frameborder="0"
				allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				style={{ position: "absolute", top: 0, left: "0", width: "600px", height: "400px" }}
				title="Demostración del Secuenciador de Pruebas TestSequencer"></iframe>
			</div><script src="https://player.vimeo.com/api/player.js"></script>
		-->
	</body>
</html>
<style is:global>
	:root {
		/*--backgroundColor: #22232c;
		--primaryColor: #f7fff6;*/
		/*--secondaryColor: #1ea896;*/
		/*--secondaryColor: #f6b17a;
		--tertiaryColor: #ff715b;
		--titleColor: #5fad41;
		--textColor: #e7ecef;
		--buttonColor: #1a1b22;
		--tabColor: #47474b;
		--tabColorLight: #a0a7a6;
		--borderColor: #6f6f6f55;
		--borderRadius: 0.25rem;
		--maxWidth: 1350px;*/

		--backgroundColor: #161c28;
		--primaryColor: #f6fcff;
		/*--secondaryColor: #1ea896;*/
		/*--secondaryColor: rgb(65, 154, 183);*/
		--secondaryColor: #bbe516;
		--tertiaryColor: #048ba8;
		--titleColor: #5fad41;
		/*--textColor: #d6ddc7;*/
		--textColor: #213445;
		--buttonColor: #1a1b22;
		--tabColor: #47474b;
		--tabColorLight: #a0a7a6;
		--borderColor: #6f6f6f55;
		--borderRadius: 0.25rem;
		--maxWidth: 1350px;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}

	html {
		font-family: "Montserrat Variable", system-ui, sans-serif;
		color: var(--backgroundColor);
		/*background: #a0c49d;*/
		/*background: #93c6e7;*/
		/*background: #8ec3b0;*/
		/*background: #99a799;*/
		/*background: #7c9473;*/
		background: radial-gradient(#161c28 20%, #0c0f16);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		background: radial-gradient(#161c28 20%, #0c0f16);
		scroll-behavior: smooth;
		width: 100svw;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--secondaryColor);
		}

		&::-webkit-scrollbar-track {
			background-color: var(--tabColor);
		}

		& .tag__move {
			box-shadow: -10px -10px 20px 7px #faf9fa35 inset;
		}
	}

	.tag__move {
		position: absolute;
		font-size: 1rem;
		transform: translate(0px);
		transition: left 0.1 linear;
		border-radius: 50%;
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 65%;
		opacity: 0.05;
		transition: opacity 0.3s ease-in-out;
		color: var(--textColor);
		z-index: 0;
	}

	.tag__move:hover {
		opacity: 1;
		backdrop-filter: bright(150%);
		cursor: grab;
	}

	#containerBalls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100svw;
		z-index: 0;
	}
</style>
