---
import "@fontsource/jost"
import { BouncingBall } from "../components/BouncingBalls/Ballon"
import Background from "../components/Background.astro"
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="containerBalls"></div>
		<BouncingBall client:load />
		<slot />
		<Background />
	</body>
</html>
<style is:global>
	:root {
		--backgroundColor: #22232c;
		--primaryColor: #d8e1df;
		--secondaryColor: #ca9d17;
		--tertiaryColor: #cf4536;
		--textColor: #faf9fa;
		--buttonColor: #1a1b22;
		--tabColor: #47474b;
		--tabColorLight: #a0a7a6;
		--borderColor: #6f6f6f55;
		--borderRadius: 0.25rem;
		--maxWidth: 1200px;
	}
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html {
		font-family: "Jost", system-ui, sans-serif;
		color: var(--backgroundColor);
		background: var(--primaryColor);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	html.dark {
		background: var(--backgroundColor);
	}

	.dark body main .header nav a {
		color: var(--primaryColor);
		font-weight: 600;

		& .nav_name {
			background-color: var(--buttonColor);
			/*color: var(--secondaryColor);**/
		}
	}

	body main .header nav a {
		& .nav_name {
			background-color: var(--buttonColor);
			/*color: var(--primaryColor);*/
		}
	}
	.dark body main {
		color: var(--primaryColor);
	}
	body main section {
		background-color: #c6d3d199;
		& header .section_tab {
			border-top: 1px solid var(--borderColor);
			&::after,
			&::before {
				border-top: 1px solid var(--borderColor);
			}
		}
	}
	.dark body main section {
		background-color: #22232cbb;

		& header .section_tab {
			background-color: var(--tabColor);
			border-top: 1px solid var(--borderColor);
			&::after,
			&::before {
				background-color: var(--tabColor);
			}
		}
	}

	.dark body .lines .backgroundImage {
		opacity: 0.1;
	}

	body .lines .backgroundImage {
		opacity: 0.4;
	}
	.tag__move {
		position: absolute;
		font-size: 1rem;
		transform: translate(0px);
		transition: left 0.1 linear;
		border-radius: 50%;
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 65%;
		opacity: 0.25;
		transition: opacity 0.3s ease-in-out;
		color: var(--textColor);
		box-shadow: -10px -10px 20px 7px #faf9fa55 inset;
		z-index: 0;
	}

	.tag__move:hover {
		opacity: 1;
		backdrop-filter: bright(150%);
		cursor: grab;
	}
	#containerBalls {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
</style>
