---
interface Props {
	title: string
}
const { title }: Props = Astro.props
---

<section class="section">
	<header class="section_header">
		<h1 class="section_title">{title}</h1>
	</header>
	<article class="section_article">
		<slot />
	</article>
</section>

<style>
	.section {
		margin: 0 auto;
		padding: 0rem;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #000;
	}

	.section_header {
		margin-bottom: 1rem;
	}

	.section_title {
		font-size: 2rem;
		font-weight: 700;
	}

	.section_article {
		font-size: 1.25rem;
	}
</style>
