.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5em;
    // width: 100%;

    @media (width < 768px) {
        display: none;
    }

    &_link {
        position: relative;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: var(--borderRadius);
        padding: 0em 1em;
        transform: scale(0.9) translateY(-2px);
        transform-origin: 50% 100%;
        color: var(--primaryColor);
        background: radial-gradient(#3b424c 40%, #25292f 80%);
        transition: all 0.25s ease-in-out;
        border: 1px solid var(--borderColor);


        &:not(.nav_linkActive):hover {
            color: var(--secondaryColor);
            transform: scale(1.2) translateY(-5px);
            margin: 0 0.25em 0 0.25em;

            & .nav_name {
                display: block;
            }
        }

        &Active {
            color: var(--secondaryColor);
            transform: scale(1.2) translateY(-5px);
            margin: 0 0.25em 0 0.25em;
            //pointer-events: none;

            & .nav_name {
                display: block;
            }
        }


    }

    &:hover {
        .nav_linkActive:not(:hover) {
            color: var(--primaryColor);
            transform: scale(0.9) translateY(-2px);
            margin: 0;
            //pointer-events: none;

            & .nav_name {
                display: none;
            }
        }
    }

    &_name {
        display: none;
        position: absolute;
        bottom: -2em;
        width: 7em;
        text-align: center;
        font-size: 0.55em;
        font-weight: 600;
        color: var(--backgroundColor);
        border-radius: var(--borderRadius);
        background: linear-gradient(-10deg,
                var(--secondaryColor) 30%,
                #d5fb3d,
                var(--secondaryColor) 70%);
        z-index: 2;
        transition: all 0.15s ease-in-out;
        animation: showLetter 0.25s ease-in-out both;

        &::after {
            position: absolute;
            top: -0.6em;
            left: calc(50% - 0.75em);
            content: "";
            width: 0em;
            height: 0em;
            border-bottom: 0.75em solid var(--secondaryColor);
            border-left: 0.75em solid transparent;
            border-right: 0.75em solid transparent;
        }
    }

    &_icon {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
    }
}

@keyframes showLetter {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes show {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scale(100%);
    }
}